:host {
  .navigation--wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem
  }

  .navigation--bar {
    display: block;
    width: 80%;
    ::ng-deep {
      .p-menubar {
        border-radius: 1rem;
    border: 1px solid white;
      }
    }
  }

  p-button {
    ::ng-deep {
      button {
        border-radius: 1rem;
        border: 1px solid white
      }
    }
  }
}
