@use 'tailwindcss';

@font-face {
  font-family: 'jetbrains';
  src: url('../public/fonts/JetBrainsMono/JetBrainsMonoNerdFont-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'jetbrains';
}

:host-context(.dark) {
  --p-button-primary-background: transparent;
  --p-button-primary-hover-background: #ca9ee6;
  --p-button-primary-color: #c6d0f5;
  --p-button-primary-hover-color: #303446;
}

:host {
  .metric--card--container {
    display: flex;
    width: 60%;
    gap: 0.5rem;
  }
  .absolute--center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
